$TTL    604800
@       IN      SOA     {{ global_dns_domain }}. admin.{{ global_dns_domain }}. (
                              3         ; Serial
                         604800         ; Refresh
                          86400         ; Retry
                        2419200         ; Expire
                         604800 )       ; Negative Cache TTL
; name servers
      IN      NS        {{ ansible_hostname }}.{{ global_dns_domain }}.


; PTR Records
1     IN    PTR   gateway.{{ global_dns_domain }}.                      ; {{ global_default_gateway }}
40    IN    PTR     pve-node-01-01.{{ global_dns_domain }}.             ; 192.168.1.40
41    IN    PTR     pve-node-01.{{ global_dns_domain }}.                ; 192.168.1.41
51    IN    PTR     zabbix.{{ global_dns_domain }}.                     ; 192.168.1.51
52    IN    PTR     docker.{{ global_dns_domain }}.                     ; 192.168.1.52
53    IN    PTR     {{ ansible_hostname }}.{{ global_dns_domain }}.     ; {{ ansible_default_ipv4.address }}
