key "{{ ansible_hostname }}." {
    algorithm hmac-sha256;
    secret "{{ bind__tsig_key__enc }}";
};

zone "{{ global_dns_domain }}" {
    type master;
    file "/var/lib/bind/zones/db.{{ global_dns_domain }}"; # zone file path
    allow-update { key "{{ ansible_hostname }}."; };
};

zone "1.168.192.in-addr.arpa" {
    type master;
    file "/var/lib/bind/zones/db.1.168.192";  # 192.168.1.0/24 subnet
    allow-update { key "{{ ansible_hostname }}."; };
};

zone "{{ external_dns_domain }}" {
    type master;
    file "/var/lib/bind/zones/db.{{ external_dns_domain }}"; # zone file path
    allow-update { key "{{ ansible_hostname }}."; };
};
