#!/bin/bash

cat << EOF | nsupdate -k /tmp/nameserver.key
server {{ global_primary_nameserver }}
update delete {{ ansible_hostname }}.{{ global_dns_domain }} A
update add {{ ansible_hostname }}.{{ global_dns_domain }} 86400 A {{ ansible_default_ipv4.address }}
send
EOF
