#!/bin/bash

cat << EOF | nsupdate -k /tmp/nameserver.key
server {{ global_primary_nameserver }}
update delete {{ record_name }}.{{ global_dns_domain }} {{ record_type }}
update add {{ record_name }}.{{ global_dns_domain }} {{ record_ttl }} {{ record_type }} {{ record_ipv4 }}
send
EOF
