---
- name: CONTAINER | Run portainer
  ansible.builtin.include_tasks: portainer.yml
  tags: portainer

- name: CONTAINER | Run portainer agent
  ansible.builtin.include_tasks: portainer-agent.yml
  tags: portainer_agent

- name: CONTAINER | Run openvpn-as
  ansible.builtin.include_tasks: openvpn-as.yml
  tags: openvpn

- name: CONTAINER | Run ElasticSearch
  ansible.builtin.include_tasks: elastic.yml
  tags: elastic

- name: CONTAINER | Run Kibana
  ansible.builtin.include_tasks: kibana.yml
  tags: kibana

- name: CONTAINER | Run Nginx Proxy Manager
  ansible.builtin.include_tasks: nginx-proxy-manager.yml
  tags: nginx_proxy_manager

- name: CONTAINER | Run watchtower
  ansible.builtin.include_tasks: watchtower.yml
  tags: watchtower

- name: CONTAINER | Run Gitea
  ansible.builtin.include_tasks: gitea.yml
  tags: gitea

- name: CONTAINER | Run ddclient
  ansible.builtin.include_tasks: ddclient.yml
  tags: ddclient

- name: CONTAINER | Run local-registry
  ansible.builtin.include_tasks: local-registry.yml
  tags: local-registry

# Media Server Stack
- name: CONTAINER | Run Jellyfin
  ansible.builtin.include_tasks: jellyfin.yml
  tags: jellyfin

- name: CONTAINER | Run qBittorrent
  ansible.builtin.include_tasks: qbittorrent.yml
  tags: qbittorrent

- name: CONTAINER | Run Prowlarr
  ansible.builtin.include_tasks: prowlarr.yml
  tags: prowlarr

- name: CONTAINER | Run Radarr
  ansible.builtin.include_tasks: radarr.yml
  tags: radarr

- name: CONTAINER | Run Sonarr
  ansible.builtin.include_tasks: sonarr.yml
  tags: sonarr
